<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets '@tether_css' '@bootstrap_css' output="/assets/js/bundle.css"%}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% javascripts '@jquery_js' '@tether_js' '@bootstrap_js' %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
