{% extends 'BackOfficeBundle::base.html.twig' %}

{% block backoffice_body %}
    <h1>User creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}

    <div class="btn-group" role="group">
        <a href="{{ path('backoffice_user_index', { 'id': user.id }) }}" class="btn btn-secondary">Back</a>
    </div>
{% endblock %}
